{% extends 'Templevaluteur/Dachboardeval.html' %}
{% block content %}




      <div class="content">
        <div class="row">
          <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
              <div class="x_title">
                <h2>The Articles That Will Be Evaluated </h2>
                <h1>  hnaa dija sayi rah khyrhomme fi dik AAL liste artcile </h1>
               <h1>  en moment de evaluuee haakaaaaaaaa  </h1>
                <div class="clearfix"></div>
              </div>

              <div class="x_content">


                <div class="table-responsive">
                  <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                        <th>
                                                </th>
                        <th class="column-title" style="display: table-cell;">ID </th>
                        <th class="column-title" style="display: table-cell;">Invoice Date </th>
                       
                        <th class="column-title" style="display: table-cell;">module </th>
                        <th class="column-title" style="display: table-cell;">theme </th>
                        <th class="column-title no-link last" style="display: table-cell;"><span class="nobr">Action</span>
                        </th>
                        <th class="bulk-actions" colspan="7" style="display: none;">
                          <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">1 Records Selected</span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr class="even pointer">
                        <td class="a-center ">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                              
                            </label>
                          </div>                        </td>
                        <td class=" ">121000040</td>
                        <td class=" ">May 23, 2014 11:47:56 PM </td>
                        <td class=" ">John Blank L</td>
                        <td class=" ">bdd</td>
                        <td class="a-right a-right ">modele reletionnel</td>
                        <td class=" last"><a href="#">View</a>
                        </td>
                      </tr>
                      <tr class="odd pointer">
                        <td class="a-center ">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                            
                            </label>
                          </div>                        </td>
                        <td class=" ">121000039</td>
                        <td class=" ">May 23, 2014 11:30:12 PM</td>
                        </td>
                        <td class=" ">John Blank L</td>
                        <td class=" ">BDD</td>
                        <td class="a-right a-right ">les dg classe</td>
                        <td class=" last"><a href="#">View</a>
                        </td>
                      </tr>
                      <tr class="even pointer">
                        <td class="a-center ">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                            
                            </label>
                          </div>                        </td>
                        <td class=" ">121000038</td>
                        <td class=" ">May 24, 2014 10:55:33 PM</td>
                        </td>
                        <td class=" ">Mike Smith</td>
                        <td class=" ">POO</td>
                        <td class="a-right a-right ">les classes</td>
                        <td class=" last"><a href="#">view</a>
                        </td>
                      </tr>
                      <tr class="odd pointer">
                        <td class="a-center ">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                              
                            </label>
                          </div>                        </td>
                        <td class=" ">121000037</td>
                        <td class=" ">May 24, 2014 10:52:44 PM</td>
                        <td class=" ">Mike Smith</td>
                        <td class=" ">BDD</td>
                        <td class="a-right a-right ">modele relationnel</td>
                        <td class=" last"><a href="#">View</a>
                        </td>
                      </tr>
                      <tr class="even pointer">
                        <td class="a-center ">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                              
                            </label>
                          </div>                        </td>
                        <td class=" ">121000040</td>
                        <td class=" ">May 24, 2014 11:47:56 PM </td>
                        <td class=" ">John Blank L</td>
                        <td class=" ">THL</td>
                        <td class="a-right a-right ">compilateur</td>
                        <td class=" last"><a href="#">View</a>
                        </td>
                      </tr>
                      <tr class="odd pointer">
                        <td class="a-center ">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                            
                            </label>
                          </div>                        </td>
                        <td class=" ">121000039</td>
                        <td class=" ">May 26, 2014 11:30:12 PM</td>
                        </td>
                        <td class=" ">John Blank L</td>
                        <td class=" ">math</td>
                        <td class="a-right a-right ">les limites</td>
                        <td class=" last"><a href="#">View</a>
                        </td>
                      </tr>
                      <tr class="even pointer">
                        <td class="a-center ">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                            
                            </label>
                          </div>                        </td>
                        <td class=" ">121000038</td>
                        <td class=" ">May 26, 2014 10:55:33 PM</td>
                        <td class=" ">Mike Smith</td>
                        <td class=" ">Poo</td>
                        <td class="a-right a-right ">ls interfaces</td>
                        <td class=" last"><a href="#">View</a>
                        </td>
                      </tr>
                      <tr class="odd pointer">
                        <td class="a-center ">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                              
                            </label>
                          </div>                        </td>
                        <td class=" ">121000037</td>
                        <td class=" ">May 26, 2014 10:52:44 PM</td>
                        <td class=" ">Mike Smith</td>
                        <td class=" ">low</td>
                        <td class="a-right a-right ">dtd</td>
                        <td class=" last"><a href="#">View</a>
                        </td>
                      </tr>

                      <tr class="even pointer">
                        <td class="a-center ">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                              
                            </label>
                          </div>                        </td>
                        <td class=" ">121000040</td>
                        <td class=" ">May 27, 2014 11:47:56 PM </td>
                        <td class=" ">John Blank L</td>
                        <td class=" ">se</td>
                        <td class="a-right a-right ">sémaphormes</td>
                        <td class=" last"><a href="#">View</a>
                        </td>
                      </tr>
                      <tr class="odd pointer">
                        <td class="a-center ">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" checked="">
                              <span class="form-check-sign"></span>
                              
                            </label>
                          </div>                        </td>
                        <td class=" ">121000039</td>
                        <td class=" ">May 28, 2014 11:30:12 PM</td>
                        <td class=" ">John Blank L</td>
                        <td class=" ">BDD</td>
                        <td class="a-right a-right ">les requetes sql</td>
                        <td class=" last"><a href="#">View</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          
        
              </div>
              <a href="javascript:void(0)" class="btn btn-info btn-round btn-lg">add</a>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="blue"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
        </li>

          
      </ul>
    </div>
  </div>
{% endblock %}