{% extends 'Templchercheur/mainchr.html' %}
{% load static %}
{% block body_block %}

  <div class="wrapper">
    <div class="page-header">
      <img src="{% static 'G-Admin_cherch_eval/img/dots.png' %}" class="dots">
      <img src="{% static 'G-Admin_cherch_eval/img/path1.png' %}" class="path">
      <div class="container align-items-center">


  <h2 style="color:blue;">  </h2>

        {% for art in articles %}

        <div class="btn-wrapper pt-3">
          <a href="{% url 'chercheur:Update' art.id %}">
            <button href="{% url 'chercheur:Update' art.id %}" class="btn btn-simple btn-primary">
              <i class="tim-icons icon-paper"></i>

               {{art.name}}
            
            </button>
          </a>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>



{% endblock %}