

{% block body_block %}
<!DOCTYPE html>
{% load static %}
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
  <link rel="stylesheet" href= "{% static "css/main.css" %}">

  <title>MAKANI_cf</title>
</head>

<body>


<style type="text/css">
#timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align:left;
  width: 50%;
  color:#2d2d2d;
  border-left: 2px solid #ed1f24;
  padding: 20px;
}

</style>

<script type="text/javascript">
  // START CLOCK SCRIPT

Number.prototype.pad = function(n) {
  for (var r = this.toString(); r.length < n; r = 0 + r);
  return r;
};

function updateClock() {
  var now = new Date();
  var milli = now.getMilliseconds(),
    sec = now.getSeconds(),
    min = now.getMinutes(),
    hou = now.getHours(),
    mo = now.getMonth(),
    dy = now.getDate(),
    yr = now.getFullYear();
  var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  var tags = ["mon", "d", "y", "h", "m", "s", "mi"],
    corr = [months[mo], dy, yr, hou.pad(2), min.pad(2), sec.pad(2)];
  for (var i = 0; i < tags.length; i++)
    document.getElementById(tags[i]).firstChild.nodeValue = corr[i];
}

function initClock() {
  updateClock();
  window.setInterval("updateClock()", 1);
}

// END CLOCK SCRIPT

</script>



  <!--start Upper Navbar-->
  <div class="upper-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <i class="fa fa-phone"></i> <span>07100089000</span> ,
          <i class="fa fa-envelope"></i> MembreMakani@MAKANI.CF
        </div>
        <div class="col-sm text-right">
          <span>let's Share </span>
          2020 ...
          <span class="get-Quoat"> Easy with MAKANI -CF-   </span>
        </div>

      </div>
    </div>

  </div>
  <!--end Upper Navbar-->


  <!--start  Navbar-->

  <nav class="navbar navbar-expand-lg navbar-light ">
     <!-- <body onLoad="initClock()">

  <div id="timedate">
    <a id="mon">January</a>
    <a id="d">1</a>,
    <a id="y">0</a><br />
    <a id="h">12</a> :
    <a id="m">00</a>:
    <a id="s">00</a>
    <a id="mi">000</a>
  </div>-->

    <div class=" container">

      <a class="navbar-brand" href="{% url "homme" %}">
        <span>MAKANI</span>

        <span>-CF-</span>
      </a>
      <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> OPTIONS  </button>-->


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">HOME</a>
          </li>

            <li class="nav-item active ">
            <a class="nav-link" href="{% url 'Aboute__Us' %}">About<span class="sr-only">(current)</span></a>
          </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url "Info_Poste" %}">FAQ</a>
          </li>

  {% if not  user.is_authenticated %}


      <li class="nav-item">
            <a class="nav-link"  href="{% url 'login' %}">log in</a>
          </li>


     <li class="nav-item">
            <a class="nav-link" href="{% url  'evaluteur_signup'  %}">INSCRIPTION</a>
          </li>


<li class="nav-item">
    <a class="nav-link"  href="{% url 'chercheur_signup' %}">Sigunp</a>
</li>




{% else %}

    <li class="nav-item active ">
        <a  class="nav-link"  href="{% url "Create_Newblog" %}" >
        Create Now ! </a>
         </li>


   {% if user.is_evaluteur %}
        <li class="nav-item active ">
        <a  class="nav-link"  href="{% url "evaluteur:dashboardeval" %}"> Profile : {{ user.username }}  </a>
         </li>

          {% endif %}



           {% if user.is_chercheur %}
   <li class="nav-item active ">
        <a  class="nav-link"  href="{% url "chercheur:dashboardchrch" %}"> Profile : {{ user.username }}  </a>
         </li>
          {% endif %}




     {% if user.is_superuser %}

         <li class="nav-item active ">
        <a  class="nav-link"  href="{% url "dashboard" %}" >
        Profile : {{ user.username }}  </a>
         </li>



{% endif %}


      <li class="nav-item active ">
            <a class="nav-link" href="{% url 'logout'  %}">Logout </a>
          </li>





{% endif %}

        </ul>
      </div>
    </div>
     <form class="form-inline my-2 my-lg-0" action='/search/'>
      <input class="form-control mr-sm-2" type="search" name='q'
       placeholder="Search" aria-label="What DO you want to find">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
    </form>

  </nav>
  <!--end  Navbar-->








<h1>
Cette application s’articule sur trois sessions principales :
</h1>
<p>
•	Session chercheur :
<br>
o	Consultation de la procédure de la soumission des articles,
o	Soumission d’un article,
o	Récupération de la notification et les résultats de reviewing,
o	Soumission de la version finale de l’article,
<br><br>
•	Session Evaluateur (reviewer) :
o	Consulter les articles,
o	Sélectionner les articles pour reviewing
o	Marquer les articles en conflit
o	Dépôt des résultats de reviewing.
<br><br>
•	Session administrateur
o	Gestion des comptes et droits d’accès
o	Mise à jour des différentes entités (articles, répartition des articles pour reviewing)
o	Notification des décisions finales,
o	Diffuser les sites des conférences.


</p>
</div>



  <!--start  Copyright Section & Discussions-->

<div class=" Copyright">
  <div class="container">
    <div class="row">
      <div class="col text-left text-uppercase">
        Copyright 2020 MAKANI_cf &copy All Right Riserved
      </div>
      <div class="col text-right">
        <ul class="list-unstyled">
          <li>
            <a href="#"> <i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-envelope"></i></a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-google-plus"></i></a>
          </li>

        </ul>

      </div>

    </div>
  </div>
</div>


  <!--end Create Copyright Section & Discussions-->


  <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
  <script type="popper" src="{% static "popper.js" %}"></script>

  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>

</body>

</html>
{% endblock %}